@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600);


html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}



#app {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
     background-color:#222;
  flex-direction: column;
  transition: 0.4s
}
 input {
    padding: 0.5rem 0.5rem;
    font-size: 2rem;
    border: 0;
    border-radius: 3px;
}



i {
  font-family: Open Sans;
  color: black;
  font-weight: 300;
  font-weight: bold;
  font-size: 2rem;

}


